# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log*.ckpt
snapshot-*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
vame/.DS_Store
.DS_Store
.vscode/settings.json
wandb/run-20230919_121717-jdd70kpi/run-jdd70kpi.wandb
wandb/latest-run
wandb/run-20230919_121717-jdd70kpi/files/config.yaml
wandb/run-20230919_121717-jdd70kpi/files/output.log
wandb/run-20230919_121717-jdd70kpi/files/conda-environment.yaml
wandb/run-20230919_121717-jdd70kpi/files/wandb-metadata.json
wandb/run-20230919_121717-jdd70kpi/logs/debug.log
wandb/run-20230919_121717-jdd70kpi/logs/debug-internal.log
wandb/debug.log
wandb/debug-internal.log
ALR_video_info.csv
wandb/run-20230919_121717-jdd70kpi/files/wandb-summary.json
config.yaml
config.yaml
wandb/
rnn_vae_fabric.log
Lightning_Config.yml
