# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp=3.8.5=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.13=pypi_0
annotated-types=0.5.0=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.3=pypi_0
apricot-select=0.6.1=pypi_0
archspec=0.2.2=pyhd8ed1ab_0
arrow=1.2.3=pypi_0
astroid=1.6.6=pypi_0
asttokens=2.4.0=pypi_0
async-timeout=4.0.3=pypi_0
atk-1.0=2.38.0=hcb7b3dd_1
attrs=23.1.0=pypi_0
autoflake=0.6.6=pypi_0
autopep8=1.7.0=pypi_0
babel=2.13.1=pypi_0
backcall=0.2.0=pypi_0
backoff=2.2.1=pypi_0
bandit=1.6.2=pypi_0
beautifulsoup4=4.12.2=pypi_0
blessed=1.20.0=pypi_0
blinker=1.7.0=pypi_0
boltons=23.1.1=pyhd8ed1ab_0
brotli-python=1.1.0=py311ha891d26_1
bzip2=1.0.8=h3422bc3_4
c-ares=1.25.0=h93a5062_0
ca-certificates=2023.11.17=hf0a4a13_0
cairo=1.18.0=hd1e100b_0
certifi=2023.7.22=pypi_0
cffi=1.16.0=py311h4a08483_0
chardet=5.2.0=pypi_0
charset-normalizer=3.2.0=pypi_0
click=6.6=pypi_0
cloudpickle=2.2.1=pypi_0
cmakelint=1.4.2=pypi_0
coala=0.11.0=pypi_0
coala-bears=0.11.1=pypi_0
coala-utils=0.6.7=pypi_0
code2flow=2.5.1=pypi_0
colorama=0.3.9=pypi_0
colorlog=2.10.0=pypi_0
comm=0.1.4=pypi_0
community=1.0.0b1=pypi_0
conda=23.11.0=py311h267d04e_1
conda-libmamba-solver=23.12.0=pyhd8ed1ab_0
conda-package-handling=2.2.0=pyh38be061_0
conda-package-streaming=0.9.0=pyhd8ed1ab_0
contextlib2=21.6.0=pypi_0
contourpy=1.1.1=pypi_0
cppclean=0.12=pypi_0
cpplint=1.6.1=pypi_0
croniter=1.4.1=pypi_0
cycler=0.11.0=pypi_0
dateutils=0.6.12=pypi_0
debugpy=1.8.0=pypi_0
decorator=5.1.1=pypi_0
deepdiff=6.5.0=pypi_0
dennis=0.9=pypi_0
dependency-management=0.4.0=pypi_0
distro=1.9.0=pyhd8ed1ab_0
docker-pycreds=0.4.0=pypi_0
docopt=0.6.2=pypi_0
docutils=0.20.1=pypi_0
eradicate=0.1.6=pypi_0
exceptiongroup=1.2.0=pyhd8ed1ab_0
execnet=2.0.2=pypi_0
executing=1.2.0=pypi_0
expat=2.5.0=hb7217d7_1
fastapi=0.103.1=pypi_0
filelock=3.12.4=pypi_0
flask=3.0.0=pypi_0
fmt=10.1.1=h2ffa867_1
font-ttf-dejavu-sans-mono=2.37=hab24e00_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=h77eed37_1
fontconfig=2.14.2=h82840c6_0
fonts-conda-ecosystem=1=0
fonts-conda-forge=1=0
fonttools=4.42.1=pypi_0
freetype=2.12.1=hadb7bae_2
fribidi=1.0.10=h27ca646_0
frozenlist=1.4.0=pypi_0
fsspec=2023.9.2=pypi_0
future=0.18.3=pypi_0
gdk-pixbuf=2.42.10=h15fa40c_4
gettext=0.21.1=h0186832_0
giflib=5.2.1=h1a8c8d9_3
gitdb=4.0.10=pypi_0
gitpython=3.1.37=pypi_0
gprof2dot=2022.7.29=pypi_0
graphite2=1.3.13=h9f76cd9_1001
graphviz=9.0.0=h3face73_1
gtk2=2.24.33=h57013de_2
gts=0.7.6=he42f4ea_4
guess-language-spirit=0.5.3=pypi_0
h11=0.14.0=pypi_0
h5py=3.9.0=pypi_0
harfbuzz=8.3.0=h8f0ba13_0
hmmlearn=0.3.0=pypi_0
html-linter=0.3.0=pypi_0
icecream=2.1.3=pyhd8ed1ab_0
icu=73.2=hc8870d7_0
idna=3.4=pypi_0
imagesize=1.4.1=pypi_0
iniconfig=2.0.0=pyhd8ed1ab_0
inquirer=3.1.3=pypi_0
ipykernel=6.25.2=pypi_0
ipython=8.15.0=pypi_0
ipython-genutils=0.2.0=pypi_0
isort=4.3.21=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.0=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.3.2=pypi_0
jsonpatch=1.33=pyhd8ed1ab_0
jsonpointer=2.4=py311h267d04e_3
jsonschema=4.20.0=pypi_0
jsonschema-specifications=2023.11.2=pypi_0
jupyter-client=8.3.1=pypi_0
jupyter-core=5.3.1=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.21.2=h92f50d5_0
lazy-object-proxy=1.9.0=pypi_0
lerc=4.0.0=h9a09cb3_0
libarchive=3.7.2=h82b9b87_0
libblas=3.9.0=20_osxarm64_openblas
libcblas=3.9.0=20_osxarm64_openblas
libclang-py3=3.4.0=pypi_0
libcurl=8.5.0=h2d989ff_0
libcxx=16.0.6=h4653b0c_0
libdeflate=1.19=hb547adb_0
libedit=3.1.20191231=hc8eb9b7_2
libev=4.33=h93a5062_2
libexpat=2.5.0=hb7217d7_1
libffi=3.4.2=h3422bc3_5
libgd=2.3.3=hfdf3952_9
libgfortran=5.0.0=13_2_0_hd922786_1
libgfortran5=13.2.0=hf226fd6_1
libglib=2.78.1=hb438215_1
libiconv=1.17=he4db4b2_0
libjpeg-turbo=3.0.0=hb547adb_1
liblapack=3.9.0=20_osxarm64_openblas
libmamba=1.5.6=h90c426b_0
libmambapy=1.5.6=py311h26e1311_0
libnghttp2=1.58.0=ha4dd798_1
libopenblas=0.3.25=openmp_h6c19121_0
libpng=1.6.39=h76d750c_0
librsvg=2.56.3=h0db3404_0
libsolv=0.7.27=h9e231a4_0
libsqlite=3.43.0=hb31c410_0
libssh2=1.11.0=h7a5bd25_0
libtiff=4.6.0=ha8a6c65_2
libwebp=1.3.2=hf30222e_1
libwebp-base=1.3.2=hb547adb_0
libxml2=2.11.6=h0d0cfa8_0
libzlib=1.2.13=h53f4e23_5
lightning=2.0.9=pypi_0
lightning-cloud=0.5.38=pypi_0
lightning-utilities=0.9.0=pypi_0
llvm-openmp=17.0.6=hcd81f8e_0
llvmlite=0.41.0=pypi_0
lz4-c=1.9.4=hb7217d7_0
lzo=2.10=h642e427_1000
mamba=1.5.6=py311hb045da1_0
mando=0.3.3=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=pypi_0
matplotlib=3.8.0=pypi_0
matplotlib-inline=0.1.6=pypi_0
mccabe=0.7.0=pypi_0
mdurl=0.1.2=pypi_0
menuinst=2.0.2=py311h267d04e_0
mlx=0.0.10=py311hd74daa4_0
mock=5.1.0=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.4=pypi_0
munkres3=1.0.5.5=pypi_0
mypy-lang=0.4.6=pypi_0
nbformat=4.4.0=pypi_0
ncps=0.0.7=pypi_0
ncurses=6.4=h7ea286d_0
nest-asyncio=1.5.8=pypi_0
networkx=3.1=pypi_0
nltk=3.8.1=pypi_0
nose=1.3.7=pypi_0
numba=0.58.0=pypi_0
numpy=1.25.2=py311hb8f3215_0
opencv-python=4.8.1.78=pypi_0
opencv-python-headless=4.8.0.76=pypi_0
openssl=3.2.0=h0d3ecfb_1
ordered-set=4.1.0=pypi_0
packaging=23.1=pypi_0
pandas=2.1.4=pypi_0
pango=1.50.14=hcf40dda_2
parso=0.8.3=pypi_0
path=16.9.0=pypi_0
path-py=12.5.0=pypi_0
pathlib=1.0.1=pypi_0
pathtools=0.1.2=pypi_0
patsy=0.5.3=pypi_0
pbr=6.0.0=pypi_0
pcre2=10.42=h26f9a81_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.0.1=pypi_0
pip=23.2.1=pyhd8ed1ab_0
pixman=0.42.2=h13dd4ca_0
platformdirs=3.10.0=pypi_0
pluggy=1.3.0=pyhd8ed1ab_0
polars=0.19.19=py311hcca7419_0
polib=1.2.0=pypi_0
pomegranate=1.0.3=pypi_0
prompt-toolkit=3.0.39=pypi_0
proselint=0.7.0=pypi_0
protobuf=4.24.3=pypi_0
psutil=5.9.5=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyan3=1.2.0=pypi_0
pybind11-abi=4=hd8ed1ab_3
pycallgraph=1.0.1=pypi_0
pycodestyle=2.11.1=pypi_0
pycosat=0.6.6=py311heffc1b2_0
pycparser=2.21=pyhd8ed1ab_0
pydantic=2.1.1=pypi_0
pydantic-core=2.4.0=pypi_0
pydocstyle=1.1.1=pypi_0
pyflakes=1.4.0=pypi_0
pygments=2.16.1=pyhd8ed1ab_0
pyimport=0.5.6=pypi_0
pyjwt=2.8.0=pypi_0
pylint=1.9.4=pypi_0
pynndescent=0.5.10=pypi_0
pynvml=11.4.1=pypi_0
pyparsing=3.1.1=pypi_0
pyprint=0.2.6=pypi_0
pyqt5=5.15.10=pypi_0
pyqt5-qt5=5.15.11=pypi_0
pyqt5-sip=12.13.0=pypi_0
pyroma=2.2=pypi_0
pysocks=1.7.1=pyha2e5f31_6
pytest=7.4.3=pyhd8ed1ab_0
pytest-shutil=1.7.0=pypi_0
python=3.11.5=h47c9636_0_cpython
python-dateutil=2.8.2=pypi_0
python-editor=1.0.4=pypi_0
python-graphviz=0.20.1=pypi_0
python-multipart=0.0.6=pypi_0
python_abi=3.11=4_cp311
pytorch-lightning=2.0.9=pypi_0
pytorch-ranger=0.1.1=pypi_0
pytz=2023.3.post1=pypi_0
pyyaml=3.13=pypi_0
pyzmq=25.1.1=pypi_0
radon=1.4.0=pypi_0
readchar=4.0.5=pypi_0
readline=8.2=h92ec313_1
referencing=0.31.1=pypi_0
regex=2023.10.3=pypi_0
reproc=14.2.4.post0=h93a5062_1
reproc-cpp=14.2.4.post0=h965bd2d_1
requests=2.31.0=pyhd8ed1ab_0
restructuredtext-lint=1.0.1=pypi_0
rich=13.5.3=pypi_0
rpds-py=0.13.2=pypi_0
rstcheck=2.2=pypi_0
ruamel-base=1.0.0=pypi_0
ruamel-yaml=0.17.32=pypi_0
ruamel.yaml=0.18.5=py311h05b510d_0
ruamel.yaml.clib=0.2.7=py311heffc1b2_2
ruff=0.1.7=pypi_0
safety=0.5.1=pypi_0
sarge=0.1.7.post1=pypi_0
scalene=1.5.31.1=pypi_0
scikit-learn=1.3.1=pypi_0
scipy=1.11.2=pypi_0
scspell3k=2.2=pypi_0
seaborn=0.13.0=pypi_0
sentry-sdk=1.31.0=pypi_0
setproctitle=1.3.2=pypi_0
setuptools=68.2.2=pyhd8ed1ab_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.1=pypi_0
sniffio=1.3.0=pypi_0
snowballstemmer=2.2.0=pypi_0
soupsieve=2.5=pypi_0
sphinx=1.4.9=pypi_0
stack-data=0.6.2=pypi_0
starlette=0.27.0=pypi_0
starsessions=1.3.0=pypi_0
statsmodels=0.14.0=pypi_0
stevedore=5.1.0=pypi_0
sympy=1.12=pypi_0
template-remover=0.1.9=pypi_0
termcolor=1.1.0=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.13=hb31c410_0
toml=0.10.2=pypi_0
tomli=2.0.1=pyhd8ed1ab_0
torch=2.0.1=pypi_0
torch-optimizer=0.3.0=pypi_0
torchmetrics=1.2.0=pypi_0
tornado=6.3.3=pypi_0
tqdm=4.66.1=pyhd8ed1ab_0
traitlets=5.10.1=pypi_0
truststore=0.8.0=pyhd8ed1ab_0
typing-extensions=4.8.0=pypi_0
tzdata=2023.3=pypi_0
umap-learn=0.5.4=pypi_0
unidiff=0.5.5=pypi_0
urllib3=2.0.5=pypi_0
uvicorn=0.23.2=pypi_0
vulture=0.10=pypi_0
wandb=0.15.11=pypi_0
wcwidth=0.2.6=pypi_0
websocket-client=1.6.3=pypi_0
websockets=11.0.3=pypi_0
werkzeug=3.0.1=pypi_0
wheel=0.41.2=pyhd8ed1ab_0
wrapt=1.16.0=pypi_0
xz=5.2.6=h57fd34a_0
yaml-cpp=0.8.0=h13dd4ca_0
yamllint=1.6.1=pypi_0
yapf=0.14.0=pypi_0
yarl=1.9.2=pypi_0
zlib=1.2.13=h53f4e23_5
zstandard=0.22.0=py311h67b91a1_0
zstd=1.5.5=h4f39d0f_0
