aiohttp==3.8.5
aiosignal==1.3.1
alabaster==0.7.13
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.3
apricot-select==0.6.1
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1699370045702/work
arrow==1.2.3
astroid==1.6.6
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
autoflake==0.6.6
autopep8==1.7.0
Babel==2.13.1
backcall==0.2.0
backoff==2.2.1
bandit==1.6.2
beautifulsoup4==4.12.2
blessed==1.20.0
blinker==1.7.0
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1703154663129/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
certifi==2023.7.22
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1696001836291/work
chardet==5.2.0
charset-normalizer==3.2.0
click==6.6
cloudpickle==2.2.1
cmakelint==1.4.2
coala==0.11.0
coala-bears==0.11.1
coala-utils==0.6.7
code2flow==2.5.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==2.10.0
comm==0.1.4
community==1.0.0b1
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1701731687615/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1702406360642/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
contextlib2==21.6.0
contourpy==1.1.1
cppclean==0.12
cpplint==1.6.1
croniter==1.4.1
cycler==0.11.0
dateutils==0.6.12
debugpy==1.8.0
decorator==5.1.1
deepdiff==6.5.0
dennis==0.9
dependency-management==0.4.0
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.20.1
eradicate==0.1.6
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
execnet==2.0.2
executing==1.2.0
fastapi==0.103.1
filelock==3.12.4
Flask==3.0.0
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.2
future==0.18.3
gitdb==4.0.10
GitPython==3.1.37
gprof2dot==2022.7.29
graphviz==0.20.1
guess-language-spirit==0.5.3
h11==0.14.0
h5py==3.9.0
hmmlearn==0.3.0
html-linter==0.3.0
icecream @ file:///home/conda/feedstock_root/build_artifacts/icecream_1658422146206/work
idna==3.4
imagesize==1.4.1
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
inquirer==3.1.3
ipykernel==6.25.2
ipython==8.15.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397490390/work
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.3.1
jupyter_core==5.3.1
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
libclang-py3==3.4.0
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1703178878806/work/libmambapy
lightning==2.0.9
lightning-cloud==0.5.38
lightning-utilities==0.9.0
llvmlite==0.41.0
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1703178878806/work/mamba
mando==0.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1705068561066/work
mlx @ file:///Users/runner/miniforge3/conda-bld/mlx_1705998624100/work
mock==5.1.0
mpmath==1.3.0
multidict==6.0.4
munkres3==1.0.5.5
mypy-lang==0.4.6
nbformat==4.4.0
ncps==0.0.7
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
nose==1.3.7
numba==0.58.0
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1691056507258/work
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.76
ordered-set==4.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.1.4
parso==0.8.3
path==16.9.0
path.py==12.5.0
pathlib==1.0.1
pathtools==0.1.2
patsy==0.5.3
pbr==6.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1701708255999/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
polars @ file:///Users/runner/miniforge3/conda-bld/polars_1701471725371/work
polib==1.2.0
pomegranate==1.0.3
prompt-toolkit==3.0.39
proselint==0.7.0
protobuf==4.24.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyan3==1.2.0
pycallgraph @ file:///Users/adanredwine/pycallgraph
pycodestyle==2.11.1
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355847725/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==2.1.1
pydantic_core==2.4.0
pydocstyle==1.1.1
pyflakes==1.4.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
pyimport==0.5.6
PyJWT==2.8.0
pylint==1.9.4
pynndescent==0.5.10
pynvml==11.4.1
pyparsing==3.1.1
PyPrint==0.2.6
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
pyroma==2.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1698233724984/work
pytest-shutil==1.7.0
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.9
pytorch-ranger==0.1.1
pytz==2023.3.post1
PyYAML==3.13
pyzmq==25.1.1
radon==1.4.0
readchar==4.0.5
referencing==0.31.1
regex==2023.10.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
restructuredtext-lint==1.0.1
rich==13.5.3
rpds-py==0.13.2
rstcheck==2.2
ruamel.base==1.0.0
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1699007389248/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1695996970284/work
ruff==0.1.7
safety==0.5.1
sarge==0.1.7.post1
scalene==1.5.31.1
scikit-learn==1.3.1
scipy==1.11.2
scspell3k==2.2
seaborn==0.13.0
sentry-sdk==1.31.0
setproctitle==1.3.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==1.4.9
stack-data==0.6.2
starlette==0.27.0
starsessions==1.3.0
statsmodels==0.14.0
stevedore==5.1.0
sympy==1.12
template-remover==0.1.9
termcolor==1.1.0
threadpoolctl==3.2.0
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==2.0.1
torch-optimizer==0.3.0
torchmetrics==1.2.0
tornado==6.3.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets==5.10.1
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
typing_extensions==4.8.0
tzdata==2023.3
umap-learn==0.5.4
unidiff==0.5.5
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
uvicorn==0.23.2
vulture==0.10
wandb==0.15.11
wcwidth==0.2.6
websocket-client==1.6.3
websockets==11.0.3
Werkzeug==3.0.1
wrapt==1.16.0
yamllint==1.6.1
yapf==0.14.0
yarl==1.9.2
zstandard==0.22.0
